site_name: User Documentation
site_url: https://yaptide.github.io/docs/
repo_url: https://github.com/yaptide/docs
repo_name: yaptide/docs
copyright: Copyright &copy; 2023-2025 the YAPTIDE team


theme:
  name: material
  features:
    - content.code.annotate
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top

nav:
- Home:
  - Overview: index.md
  - Geometry and materials: geometry.md
  - Scoring: scoring.md
  - Particle source and physics: settings.md
  - Running simulations: running.md

plugins:
  - search
  - git-revision-date-localized
  - pdf-export:
      enabled_if_env: ENABLE_PDF_EXPORT
      combined: true
  - glightbox

markdown_extensions:
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
